<header>
  <div>
  </div>
  <% if (username) {%>
    <h2>Hello
      <%=username %>
     
    <br /> +
    
    </h2>
    <form action="/logout" method="post">
      <input type="submit" value="Log the H*ck out">
    </form>
    <% } else {
      
     %>
     <a href='/login'>LOGIN</a>
     <a href='/register'>REGISTER</a> 
     <% } %>
     <hr />
</header>