<header style="font-family: Arial, Helvetica, sans-serif; background-color: aliceblue">
  <div>
  </div>
  <% if (user) {%>
    <h2>Hello
      <%=user.email %>
     
    <br /> 
    
    </h2>
    <form action="/logout" method="post">
      <input type="submit" value="Log out">
    </form>
    <% } else {
      
     %>
     <a href='/login'>LOGIN</a>
     <a href='/register'>REGISTER</a> 
     <% } %>
     <hr />
</header>