<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="background-color: snow">
  <% include partials/_header %>
  <br>
  <% for (var i in urls) { %>
    <span>
      <%= `${i} → ${urls[i]}` %>
      <a href="/urls/<%=i%>">edit</a>
      <form method="POST" action="/urls/<%= i %>/delete">
        <input type="submit" value="Delete" ></input>
      </form>
    </span>
    <br><br>
  <% } %>
  <span>
    <a href="/urls/new"> New</a> 
</body>
</html>