<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <form action="/login" method="post">
    Username:<input type="text" name="username" value="">
    Password:<input type="password" name="password" value="">
    <input type="submit" value="Log the H*ck In">
  </form>
</body>
</html>